body {
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
}

#menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

nav.open {
    display: flex;
}

nav {
    display: none;
    flex-direction: column;
    background: #222;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background: #444;
}

.res-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
}

figure {
    background: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

  /* FOOTER */
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }
  
  footer p {
    margin: 5px 0;
  }