/* css/auth.css */
:root {
  --primary-color: #022142;   /* Blue for accents */
  --secondary-color: #F18F01; /* Green for highlights */
  --bg-color: #ffffff;        /* White background */
  --text-color: #333;
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Roboto', sans-serif;
}

.auth-page {
  background: var(--primary-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  max-width: 450px;
  background: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}

.form-container p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-container input,
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: var(--font-body);
}

.form-container button {
  width: 100%;
  padding: 12px;
  background: var(--primary-color);
  border: none;
  color: var(--bg-color);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-family: var(--font-body);
}

.form-container button:hover {
  background: var(--secondary-color);
}

.hidden {
  display: none;
}

.highlight-link {
  font-weight: bold;
  background-color: var(--primary-color);
  padding: 4px 8px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--bg-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.highlight-link:hover {
  background-color: var(--secondary-color);
  color: var(--bg-color);
}
